
/* index */
.login_form {
    width: 50%;
    margin: 220px auto 220px auto;
    /* display: table; */
}
.login_form > dl {
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    /* vertical-align: middle; */
}
/* .login_form > dl, .login_form > p {
    display: table-caption;
} */
.login_form > dl > dt{
    width: 20%;
    text-align: right;
}
.login_form > dl > dd{
    width: 60%;
}
.login_form > dl > dd > input{
    width: 100%;
    height: 30px;
}
.login_form > dl > dt,.login_form > dl > dd{
    display: inline-block;
    height: 30px;
}
.login_form > p {
    text-align: center;
    margin-top: 10px;
}
/* header */
.pepper_header {
    padding: 50px 30px;
    box-sizing: border-box;
    font-family: serif;
}

.pepper_title {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 40px;
}
.navi_bar {
    display: block;
    text-align: center;
}
.pepper_header > p {
    text-align: right;
    margin: 15px 10% 0px 0px;
}
/* header main */
.navi_bar > a {
    display: inline-block;
    width: 250px;
    height: 230px;
    background-size : contain;
    background-repeat:no-repeat;
}
.navi_bar > a > div {
    display: inline-block;
    width: 250px;
    height: 200px;
    background-size : contain;
    background-repeat: no-repeat;
}
#header_menu_mainMenuBtn1 {
    background-image : url('../img/mainMenuBtn1.png');
}
#header_menu_mainMenuBtn2 {
    background-image : url('../img/mainMenuBtn2.png');
}
#header_menu_mainMenuBtn3 {
    background-image : url('../img/mainMenuBtn3.png');
}
#header_menu_mainMenuBtn4 {
    background-image : url('../img/mainMenuBtn4.png');
}
.main_menu_text{
  font-size: 20px;
  font-weight: bold;
}

/* header not main */
.title_h2 {
    font-size: 30px;
    margin: 0px 0px 3% 5%;
}
.navi_bar2 {
    margin: 0px auto 0px auto;
    display: table;
    text-align: center;
}
.navi_bar2 > dt {
    display: inline-block;
    width: 170px;
    text-align: left;
}
.navi_bar2 > a {
    display:inline-block;
    width: 160px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.navi_bar2 > dt > img {
    display: inline-block;
    width: 35px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
}
.navi_bar2 > dt > a {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}
/* inquiryWriting */
.inquiry_form > dl {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0% 10px 0%;
    display: table;
}
.inquiry_form > dl > dt,.inquiry_form > dl > dd {
    display: inline-block;
    /* vertical-align: middle; */
    /* height: 30px; */
}
.inquiry_form > dl > dt {
    font-size: 16px;
    line-height: 30px;
    width: 30%;
    text-align: right;
    margin-right: 15px;
    vertical-align: top;
}
.inquiry_form > dl > dd {
    width: 40%;
    line-height: 30px;
}
.inquiry_form > dl > dd > input {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
}
.inquiry_form > dl > dl {
    width: 40%;
    display: inline-block;
}
.inquiry_form > dl > dl > dt {
    margin-top: 10px;
}
.inquiry_form > dl > dl > dd
,.inquiry_form > dl > dl > dd > input
,.inquiry_form > dl > dl > dd > select {
    width: 100%;
    height: 30px;
}

#inquiry_writing_count {
    width: 50px;
    margin-right: 5px;
}
/* main */
.search {
    text-align: right;
}
.search > form {
    display: inline-block;
    margin-right: 10%;
    width: 90%;
}
.search > form > .search_text {
    width: 30%;
}
.main_body {
    width: 80%;
    margin: 0px auto 5% auto;
    font-family: serif;
    line-height: 2;
}
.main_contents {
    width: 100%;
    margin: 5% 0px;
    font-family: serif;
}
.main_contents> h3 {
    text-align: left;
    font-size: 25px;
    color: #848484;
    margin-bottom: 3%;
}
.main_contents > div {
    border-bottom: solid 1px #d8d8d8;
    padding: 10px 0px;
}
.main_contents > div > p {
    margin: 5px 0px 5px 10%;
    font-size: 18px;
}
.main_contents > div > .main_date {
    font-size: 15px;
    margin: 0px 0px 20px 5%;
}

/* atorie */
.atorie_contents {
    font-size: 20px;
    font-family: serif;
    text-align: center;
}
.atorie_contents> p{
  border: solid 1px black;
  border-radius: 3px;
}
.title_h3 {
/*    text-align: center;
    font-size: 25px;
    color: #848484;
    margin-bottom: 3%;*/
    margin-bottom: 100px;
    font-size: 25px;
    color: #848484;
}
.atorie_bottom{
    text-align: right;
    margin-bottom: 50px;
}
.atorie_bottom > form{
    display: inline-block;
    width: 50%;
}
.atorie_bottom select{
    width: 50%;
    height: 30px;
}
.atorie_bottom > input,.atorie_bottom form > input
, .atorie_bottom form > abbr input{
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgb(183, 177, 177);
  background-color: rgb(255, 255, 255);
}
.atorie_bottom form > input, .atorie_bottom form > abbr input{
  border: 1px solid rgb(183, 177, 177);
  background-color: rgb(220, 220, 220);
}
.atorie_map {
    display: inline-block;
    width: 90%;
    height: 500px;
    border:solid 1px;
}
.atorie_contents_map {
    text-align: center;
    border-bottom: solid 1px #d8d8d8;
    margin: 3% 0px 3% 0px;
}
.atorie_contents_map > p {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
}
.atorie_contents_text > .atorie_contents_img {
    display: inline-block;
    /*width: 29%;*/
    width: 300px;
    margin-right: 3%;
    box-sizing: border-box;
}
.atorie_contents_text > dl.img_dl{
    display: inline-block;
    width: 60%;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}
.atorie_contents_text > dl{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}
.atorie_contents_text > dl > dt{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.atorie_contents_text > dt {
    font-size: 22px;
    margin-top: 50px;
    text-align: left;
    font-weight: bold;
}
.atorie_contents_text > dd {
    margin: 20px auto;
    font-size: 18px;
    margin-left: 3%;
    text-align: left;
    line-height: 1.5;
}
.atorie_contents_text > dd > a{
  display: inline-block;
  border: 1px #000 solid;
  border-radius: 5px;
  margin: auto 10%;
  margin-top: 20px;
  padding: 10px 30px;
}
#facebook_link{
  border: 2px #004eb1 solid;
}
.atorie_contents > .atorie_contents_text {
    display: inline-block;
    font-family: serif;
    padding-bottom: 3%;
    width: 70%;
}
.atorie_contents {
    border-bottom: solid 1px #d8d8d8;
    margin: 3% 0px 3% 0px;
}
.yolp-ymapbanner {
    display: none;
}
/*blog, information Board*/
.info_page, .blog_page{
  margin: auto 5%;
}

.page_name{
  font-size: 30px;
}

.sub_navi{
    /* float: right; */
}

.sub_navi  a {
    font-family: serif;
    color: rgb(4, 176, 240);
}
/* .info_list {
    white-space: normal;
}
.info_list > thead > tr > th {
    padding: 0px 5px;
}
.info_list, .blog_list{
  margin:10% auto 3% auto;
}

.info_list_box{
  padding: 30px;
  border-bottom: solid 1px #d8d8d8;
}
.info_list_box > td {
    padding: 0px 5px;
    white-space: normal;
} */

.blog_list_box{
  padding: 10px;
  border-bottom: solid 1px #d8d8d8;
}

.blog_list_img{
    width: 70px;
    height: 70px;
    margin: 5px;
}

/* .info_list_box span, .blog_list_box li span{
  color: rgb(95, 95, 95);
}

.info_list_box a, .blog_list_body{
  padding-left: 5%;
} */

.blog_list_box{
  position: relative;
}

.blog_list_box li{
  display: inline-block;
  vertical-align: middle;
}

.blog_list_box a{
  display: block;
  padding-bottom: 10px;
}

.page_num{
  text-align: center;
  margin: 3% 0px 3% 0px;
  font-size: 20px;
}

/*blog, information*/
.info_title, .blog_title{
  font-size: 50px;
  color: rgb(95, 95, 95);
  padding-bottom: 10px;
  border-bottom: solid 4px rgb(4, 176, 240);
}

.info_datetime, .blog_datetime{
  text-align: right;
  padding-top: 5px;
  padding-bottom: 10px;
}

.info_text, .blog_text{
  min-height: 300px;
  margin-top: 10px;
}
.back_btn{
  width: 50px;
  height: 30px;
  display: block;
  margin: 60px auto;
}
/* .information_th1 {
    width: 20%;
}
.information_th2 {
    width: 35%;
}
.information_th3 {
    width: 10%;
} */
.board_title {
    text-align: left;
}
/* .bnt_color{
  border: 1px solid rgb(183, 177, 177);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
} */

.reservation_btn{
  width: 100px;
  height: 30px;
}
/* checkInquiryBoard */
.check_board_form {
    text-align: right;
    margin: 10px 0px;
}
.check_board_form > select {
    height: 39px;
    font-size: 18px;
}
.check_board_form > input {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgb(183, 177, 177);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}
.checkin_contents {
    overflow:auto;
    padding: 0px 5px 0px 20px;
}
.check_board_table {
    width: 100%;
    text-align: center;
    font-family: serif;
}
.check_board_table > tbody > tr > th {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
    white-space: nowrap;
}
.check_board_table > tbody > tr > td {
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 18px;
    vertical-align: middle;
}
.check_board_table > tbody > tr {
    margin-top: 5px;
}
.bnt_color{
  border: 1px solid rgb(183, 177, 177);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}

.detail_info, .close_btn{
  display: none;
}

.detail_info{
    height: 30px;
    margin-bottom: 40px;
}
.checkin_tr {
    border-top: solid 1px #BDBDBD;
}
/* Writing */
.btn{
    text-align: right;
    margin-right: 5%;
    margin-bottom: 20px;
}
.btn input{
  font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(183, 177, 177);
    background-color: rgb(255, 255, 255);
}
.write_contents {
    /* font-size: serif; */
}
.write_contents > p {
    text-align: center;
}
.write_contents > dl {
    margin: 10px 0px 10px 0px;
    width: 100%;
}
.write_contents > dl > dt {
    width: 30%;
    text-align: right;
}
.write_contents > dl > dd {
    width: 60%;
}
.write_contents > dl > span {
    margin: 10px 0px 0px 33%;
    display: inline-block;
}
.write_contents > dl > dt
,.write_contents > dl > dd{
    display: inline-block;
    height: 30px;
    font-size: 19px;
    line-height: 30px;
}
.write_contents > dl > .schedule_text > input
,.write_contents > dl > .schedule_text > select{
    width: 65%;
}
.write_contents > dl > dd > input
,.write_contents > dl > dd > select
,#addedFormDiv dl dt input{
    height: 30px;
}
#addedFormDiv > dt{
  width: 100%;
  text-align: center;
}
#addedFormDiv > dt, #addedFormDiv dl{
    font-size: 19px;
    line-height: 30px;
    margin: 2px;
    padding: 2px;
}
#addedFormDiv > dt input{
  margin: auto 10px;
  padding: 0.3% 2%;
  border: 1px solid rgb(183, 177, 177);
  background-color: rgb(255, 255, 255);
}
#addedFormDiv dl:nth-child(even)
,.write_img div:nth-child(even) {
    background-color: rgb(235, 250, 255);
}
#addedFormDiv dl dt,#addedFormDiv dl dd{
    margin: 1% auto;
}
#addedFormDiv dl dt span, #addedFormDiv dl dd span{
    display: inline-block;
    width: 30%;
    padding-right: 5px;
    text-align: right;
    vertical-align: top;
}
#addedFormDiv dl dt input, #addedFormDiv dl dd textarea{
    width: 40%;
    line-height: 1.5;
}
#addedFormDiv dl dd textarea{
    height: 70px;
}
/* Writing 本文*/
.write_contents dt{
    vertical-align: top;
}
.write_contents > .big_contents > dd >textarea{
    width: 65%;
    height: 200px;
    line-height: 1.5;
}
/* Writng_img */
.write_img div{
  width: 65%;
  text-align: center;
}
.write_contents > dl > dd > img {
    width: 65%;
}
.write_img div img{
  width: 80%;
  padding-bottom: 2%;
}
.write_img div label, .write_img div input{
  vertical-align: middle;
}
/* write_bt */
.write_bt {
    text-align: center;
}
.write_bt > input{
    font-size: 18px;
    padding: 5px 10px;

}
/* scheduleBoard */
.schedule_contents > div {
    padding: 10px 0px;
    border-bottom: solid 1px #BDBDBD;
}
.schedule_contents > div > p {
    margin: 5px 0px 5px 10%;
    font-size: 18px;
    line-height: 1.7;
}
.schedule_contents > div > .page {
    text-align: right;
}
.schedule_contents > div > .schedule_date {
    font-size: 15px;
    margin-left: 5%;
    margin-bottom: 20px;
}
.schedule_contents > .page
,.page {
    margin: 10px 0px 10px 0px;
    font-family: serif;
}
.schedule_contents > .page > input
,.page > input{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(183, 177, 177);
    background-color: rgb(255, 255, 255);
}
/* joint */
.page {
    text-align: center;
}
.sub_navi {
    text-align: right;
    font-family: serif;
    margin-bottom: 5%;
}
.sub_navi a {
    color: rgb(4, 176, 240);
}
.current_pages {
    color:#0000FF;
}
#logout {
    font-size: 23px;
}
.title_link > a {
    color: #0000ff;
    font-size: 20px;
}

.list_registration_datetime, .list_tag{
  width: 15%;
}

.list_img{
  width: 12%;
}

.list_datetime{
  width: 18%;
}
.tag_message{
  font-size: 17px;
}
/* footer */
.footer {
    padding: 2% 0px 2% 5%;
    background-color: #BDBDBD;
}
.footer > p {
    text-align: right;
    margin-right: 5%;
    font-size: 13px;
}
.footer > dl > dt
,.footer > dl > dd {
    margin: 5px 0px;
    font-size: 13px;
}
.footer > dl > dd {
}
@media screen and (max-width : 1500px) {
  .atorie_contents_text > dl, .atorie_contents_text > dl.img_dl{
    width: initial;
    margin-top: 30px;
  }
  .blog_board_table > tbody > tr > td, .search_info_box span, .search_info_box a{
    white-space: nowrap;
  }
  .blog_textarea {
    white-space: initial;
  }
}
@media screen and (max-width : 760px){
    /* index */
    .login_form {
        width: 100%;
        margin: 150px auto 150px auto;
    }
    /* header */
    .title_h2 {
        margin-left: none;
        text-align: center;
    }
    .pepper_header {
        padding: 20px 10px;
    }
    .pepper_title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .navi_bar {
        margin-left: initial;
    }
    .navi_bar > a {
        width: 120px;
        height: 100px;
        padding: 5px 0px 0px 5px;
        margin: 10px;
        font-size: 15px;
    }
    .navi_bar > a > div {
        width: 70px;
        height: 70px;
    }
    .pepper_header > p {
        margin: 15px 5% 0px 0px;
    }
    /* header not main */
    .navi_bar2 > dt {
        width: 150px;
    }
    .navi_bar2 > dt > a {
        font-size: 17px;
    }
    /* main */
    .search > form > .search_text {
        width: 50%;
    }
    /* atorie */
    .atorie_contents > .atorie_contents_img {
        width: 100%;
        box-sizing: border-box;
    }
    .atorie_contents > .atorie_contents_text {
        width: 100%;
    }
    /* inquiryWriting */
    .inquiry_form > dl > dd {
        width: 60%;
    }
    .inquiry_form > dl > dl {
        width: 60%;
    }
    .check_board_form > select {
        width: 80%;
    }
    .list_datetime,.list_tag {
        width: auto;
    }
    /* scheduleWriting */
    .write_contents > dl > .schedule_text > input
    ,.write_contents > dl > .schedule_text > select
    ,.write_contents > .big_contents > dd > textarea{
        width: 100%;
    }
    .write_contents > dl > dd > img {
        width: 100%;
    }
    /* schedule */
    .schedule_contents > div > dl > dt {
        width: 30%;
    }
    .schedule_contents > div > dl > dd {
        width: 65%;
    }
    /* blog/information */
    .information_th1 {
        width: initial;
    }
    .information_th2 {
        width: initial;
    }
    .information_td_title {
        text-align: initial;
    }
}
